<div class="container" id="box">
       <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
        <h4 class="text-center">员工信息表</h4>
       </div class="container" style="margin-top: 20px; margin-bottom: 30px;" >

        <table class=" table-bordered table-hover" width="100%">
         <caption class="text-center">员工个人信息</caption>
		 <tr height="50px">
			 <th width="10%">姓名</th><td width="20%"> hjh</td>
			 <th width="10%">性别</th><td width="20%">1</td>
			 <th width="10%">民族</th><td width="20%">1</td>
			 <td colspan="2" rowspan="3" height="150px"><img src="http://localhost/manager/public/static/img/1555901528661.jpg" height="150" width="120"/></td>
		 </tr>
		
		 
		 <tr height="50px">
		 	 <th>籍贯</th> <td>1</td>
		 	 <th>工号</th> <td>1</td>
		 	 <th>出生年月</th> <td>1</td>
		 	 
		 </tr>
		 <tr height="50px">
		 	 <th>身份证号码</th> <td>1</td>
		 	 <th>婚否</th> <td>1</td>
		 	 <th>政治面貌</th> <td>1</td>
		 </tr>
		 <tr height="50px">
		 	 <th>户口性质</th> <td>1</td>
		 	 <th>所在食堂</th> <td>1</td>
		 	 <th >部门</th> <td colspan="2">1</td>
		 </tr>
		 <tr height="50px">
		 	 <th>职务</th> <td>1</td>
		 	 <th>最高学历</th> <td>1</td>
		 	 <th >毕业院校</th> <td colspan="2">1</td>
		 </tr>
		 <tr height="50px">
		 	 <th>联系电话</th> <td>1</td>
		 	 <th>邮箱</th> <td>1</td>
		 	 <th >户口所在地</th> <td colspan="2">1</td>
		 </tr>
		 <tr height="50px">
		 	 <th>就职情况</th> <td>1</td>
		 	 <th>合同签订情况</th> <td>1</td>
		 	 <th >公积金购买情况</th> <td colspan="2">1</td>
		 </tr>
		 <tr height="50px">
		 	 <th>工作证办理记录</th> <td>1</td>
		 	 <th>免搭伙费</th> <td>1</td>
		 	 <th >员工相关专业技能证书档案</th> <td colspan="2">1</td>
		 </tr>
		 <tr height="50px">
		 	 <th>户口性质</th> <td>1</td>
		 	 <th>联系电话</th> <td>1</td>
		 	 <th >现居地址</th> <td colspan="2">1</td>
		 </tr>
		 

        </table>

     </div>
	 
	 <script type="text/javascript">
	$(function () {
		$("#myButtons1 .btn").click(function(){
			alert(1);
		});
	});
	</script>